#!/usr/bin/env xdg-open

[Desktop Entry]
Version=0.1.0
Name=huayra-clonar
Comment=Creá tu pen-drive con Huayra
Exec=huayra-clonar
Terminal=false
Type=Application
Icon=huayra-clonar
Categories=GNOME;GTK;Huayra;
Keywords=live-cd;pendrive;iso;
Name[es_AR]=Huayra-Clonar
